xbody {
	background-color: #ccc;
}

/*footer {
    background-color: black;
    min-height: 30px;
    width: 100%;
    color: white;
}*/

section {
	margin-top: 4%;
}

button{
	width: 120px;
	position: fixed;
}

.navbar-header img{
    width: 70px;
}

.blockDroite {
	text-align: center;
	border: 1px solid #ccc;
    border-top-style: solid;
    border-top-width: 1px;
    border-radius:8px;
}

.blockDroite img {
	width: 90%;
	height: 265px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.blockGauche {
	text-align: center;
	border: 1px solid #9e9e9e;
    border-radius:8px;
}

.blockGauche hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;	
}

.blockGauche .row {
	margin-bottom: 1%;
	margin-top: 1%;
}

.blockGauche img {
	height: 300px;
	width: 240px;
	display: inline-block;
}

.blockGauche .textNews {
	display: inline-block;
	text-align: center;
	height: 300px;
}

.blockGauche .textNews p{
	margin-top: 140px;	
}

#a {
	
    height:0px;
	width: 400px;
	background: red;
}

#b{
	z-index:1;
}

.logo {
	width:70px;
}

nav .navbar-brand {
	height:50px;
	padding: 10px;
}

#search{
	width: 400px;
}


#rechercheTab {
	background-color: black;
	z-index:3;
}

#rechercheTab img {
    width: 100px;
}

#rechercheTab p {
    font-size: 10px;
}

#rechercheTab h4 {
    font-size: 15px;
}
